body {
    background-color: rgb(150, 166, 167);

    background-image: url(img/fon.jpg);
    background-position: top center;
    background-repeat: no-repeat;
}

p {
    color: #665600;
    font-family: 'Playfair Display', serif;
    font-size: 48px;
}