body {
  /* min-width: 960px; */
  background-color: rgb(215, 206, 209);
  background-image: url(img/fon3.jpg);
  background-size: contain;
  /* background-size: 100%; */
  background-position: top center;
  background-repeat: no-repeat;
  margin: 0;
  font-size: 16px;
}

nav {
  padding: 1.2rem;
  margin: 0 0 22vw;
}

.navflex{
  display: flex;
  width: 20vw;
  justify-content: space-between;
}

.nav-where {
  padding: 1rem;
  background-image: url(img/checkpoint.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
}

.nav-when {
  padding: 1rem;
  background-image: url(img/Time-head.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.nav-what {
  padding: 1rem;
  background-image: url(img/Suit.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

h1 {
    padding-left: 3%;
    color: #836f01;
    font-family: "Playfair Display", serif;
    font-size: 4vw;
    line-height: 130%;
  }
/* .heading {
  padding-top: 21%;
  padding-left: 3%;
  color: #836f01;
  font-family: "Playfair Display", serif;
  font-size: 4vw;
  line-height: 130%;
} */

h2 {
  font-size: 4vw;
  color: #4d4d4d;
}

.table-when td {
  margin-left: 1vw;
  border-collapse: collapse;
  border: tomato;
  border-style: double;
}

#when {
  text-align: center;
  margin-top: 22vw;
}

.table-where td {
  margin-left: 5%;
  border-collapse: collapse;
  border: tomato;
  border-style: double;
}

.where {
  text-align: center;
  margin-top: 300px;
}

.what {
  text-align: center;
  margin-top: 300px;
}

.page-footer {
  padding: 5px 50px;
  background-color: #9fa1a3da;
  color: #4b4949;
  text-align: right;
  margin-bottom: 0px;
  margin-top: 300px;
}

.h3 {
  font-size: 12px;
  line-height: normal;
}


